/* navigation (contact & menu) */

#navigation .contact #img-icon {
    width: 13px;
    height: 13px;
}

#navigation .contact #img-icon {
    font-family: 'Open Sans';
    font-size: 10pt;
}

#navigation .menu #img-inc-logo {
    width: 250px;
    height: 90px;

}


/* main section */
.main img {
    width: 100%;
    height: 964px;
}

.content h1 {
    font-family: 'Arial Black';
    font-size: 22pt;
    color: #FFFFFF;
}

.content h2 {
    font-family: 'Open Sans';
    font-size: 14pt;
    color: #FFFFFF;
}

.content p {
    font-family: 'Open Sans';
    font-size: 12pt;
}

.content #button-main {
    background-color: #2D31FA;
    border-radius: 100px;
    padding: 14px 25px;
    font-size: 25px;
    font-family: 'Open Sans';
    color: #FFFFFF;
}

/* features */
.features h1 {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 14pt;
}

.features p {
    font-family: 'Open Sans';
    font-weight: auto;
    font-size: 12pt;
}

/* services */
.services {
    background-color: #2D31FA;
    font-family: 'Open Sans';
}

.services h1 {
    font-family: 'Arial';
    font-size: 30pt;
}

.services h2 {

    font-size: 22pt;
}

.services p {
    font-size: 16pt;
}

/* footer */